.de-icon {
  --de-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--de-icon-color);
  font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .de-icon--$(val) {
    --de-icon-color: var(--de-color-$(val));
  }
}
